.content{
  margin:50px;
  text-align:center;
  font-size:large;
}

.nav-link {
  color:grey;
}

.main-button {
  margin-top: -5%;
  padding-top: 8%;
  padding-bottom: 8%;
  margin-bottom: -5%;
  margin-left: 25%;
}

.header {
  text-align: left;
  padding-top: 8%;
  padding-left: 2%;
}

.left_box {
  height: 50%;
  margin-right: -5%;
}

.right_box {
  height: 40%;
  padding: 1%;
}

.img-fluid {
  max-width: 65%;
  height: auto;
  margin-bottom: 1%;
}

.landing-img {
  position: relative;
  max-width: 50%;
  height: auto;
}

.info {
  text-align: center;
  padding-top: 2%;
}

.info a:hover{
  text-decoration: none !important;
}

.sigline {
  text-align: center;
  padding-top: 2%;
}

.stripline {
  margin-bottom: -1px;
  height:10px;
}

.page-footer {
  padding-bottom: 2%;
}

@media (max-width: 991.98px) {
  .info {
    color:red;
  }

  .landing-img {
    max-width:25%;
  }
}
