.content{
  margin:50px;
  text-align:center;
  font-size:large;
}

.nav-link {
  color:grey;
}

.main-button {
  margin-top: -15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: -9px;
  margin-left: 50px;
}

.header {
  text-align: left;
  padding-top: 35px;
  padding-left: 2%;
}

.left_box {
  height: 550px;
  margin-right: -50px;
}

.right_box {
  height: 425px;
  padding: 10px;
}

.img-fluid {
  max-width: 65%;
  height: auto;
  margin-bottom: 1px;
}

.landing-img {
  position: relative;
  max-width: 50%;
  height: auto;
}

.info {
  text-align: center;
  padding-top: 30px;
}

.sigline {
  text-align: center;
  padding-top: 25px;
}

.stripline {
  margin-bottom: -1px;
  height:10px;
}

.page-footer {
  padding-bottom: 15px;
}
