{% extends "vs_layout.html" %}


{% block title %}
Humidity vs Latitude
{% endblock %}

{% block heading %}
Humidity
{% endblock %}

{% block img_src %}
/static/images/HumidityvsLat.png
{% endblock %}

{% block img_alt %}
Humidity vs Lat
{% endblock %}

{% block description %}
There is no observable trend between latitude & overall humidity, other than areas experiencing summer weather (southern hemisphere) being slightly more humid overall.
{% endblock %}

{% block border_humidity %}
border border-info
{% endblock %}
